@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="alinhamento">Boas vindas ao sistemas de</h1>
    <img class="alinhamento" src="~/css/livros.png" alt="">
    <h2 class="alinhamento">cadastro de livros</h2>
</div>
